*{box-sizing: border-box;}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    background-color: 	#fffbf6;
}



.container{
    
}

.article{
    display: flex;
    flex-direction: column;
}

/* Kezdőlap kép + cím */
.kezdolap-kep{
    max-width: 100%;
    height: 100vh;
    background-image: url("kepek/Kezdolap-kep.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 4rem;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-shadow: 0px 7px 10px #ffffff;    
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.gyakorlatok-kep{
    max-width: 100%;
    height: 100vh;
    background-image: url("kepek/meditacio-gyakorlatok.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 4rem;
    color:#a58b78;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-shadow: 0px 7px 10px #a58b78;    
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.orak-kep{
    max-width: 100%;
    height: 100vh;
    background-image: url("kepek/orak.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 4rem;
    color: #a58b78;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-shadow: 0px 7px 10px #a58b78;    
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.webshop-kep{
    max-width: 100%;
    height: 100vh;
    background-image: url("kepek/webshop-kep.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 4rem;
    color: #a58b78;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-shadow: 0px 7px 10px #a58b78;    
    overflow: hidden;
    position: relative;
    z-index: 2;
}

/* Navigációs szalag és Footer BG-color */
.kezdolap{
    background-color: #193544;
    color: white;
}

.gyakorlat{
    background-color: #180c0d;
    color: white;
}

.orak{
    background-color: #a58b78;
    color: black;
}

.webshop{
    background-color: #c20e08;
    color: black;
}


nav {
    border-radius: 0 0 25px 25px;
    box-shadow: 0 5px 20px black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 4.25vh 0;
}

.menu a:hover{
    border-color: rgb(255, 255, 255);
}

.menu a#activapage{
    border-color: rgb(255, 255, 255);
}

#activepage{
    font-weight: bold;
}

.menu a{
    text-decoration: none;
    overflow:visible;
    font-size: 2vh;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    padding-right: 2px;
    padding-left: 2px;
}



/* Mi az a mindfulness? */
.mindfulness{
    text-align: justify;
    padding: 0 15px;
}

.mindfulness-cim{
    text-align: center;
    margin-top: 75px;
    color: #180c0d;
}

.mindfulness-kep{
    max-width: 100%;
    margin: auto;
}

/* Mi az a meditáció? */
.meditacio{
    text-align: justify;
    padding: 0 15px;
}

.meditacio-cim{
    text-align: center;
    margin-top: 75px;
    color: #180c0d;
}

.meditacio-kep{
    max-width: 100%;
    margin: auto;
}

/* Miért fontos? */
.miert-fontos{
    text-align: justify;
    padding: 0 15px;
}

.miert-fontos-cim{
    text-align: center;
    margin-top: 75px;
    color: #180c0d;
}

.miert-kep{
    max-width: 100%;
    margin: auto;
}

/* Tortenete */
.tortenete{
    text-align: justify;
    padding: 0 15px;
}

.tortenete-cim{
    text-align: center;
    margin-top: 75px;
    color: #180c0d;
}

.tortenete-kep{
    max-width: 100%;
    margin: auto;
}

/* Térkép */
iframe{
    max-width: 85%;
    height: 300px;
    margin: auto;
    margin-top: 215px;
    border: #d9b99b 2px solid;
}

/* Légzés meditácó */
.legzes{
    text-align: justify;
    padding: 0 15px;
}

.legzes-cim{
    text-align: center;
    margin-top: 75px;
    color: #180c0d;
}

.legzes-kep{
    max-width: 100%;
    margin: auto;
}

/* Nap meditácó */
.nap{
    text-align: justify;
    padding: 0 15px;
}

.nap-cim{
    text-align: center;
    margin-top: 75px;
    color: #180c0d;
}

.nap-kep{
    max-width: 100%;
    margin: auto;
}

/* Egyperces meditácó */
.egyperces{
    text-align: justify;
    padding: 0 15px;
}

.egyperces-cim{
    text-align: center;
    margin-top: 75px;
    color: #180c0d;
}

.egyperces-kep{
    max-width: 100%;
    margin: auto;
}

/* Extrák */
.extrak{
    text-align: justify;
    padding: 0 15px;
}

.extrak-cim{
    text-align: center;
    margin-top: 75px;
    color: #180c0d;
}

.extrak-kep{
    max-width: 100%;
    margin: auto;
}

/* Videó */
.video-cim{
    text-align: center;
    margin-top: 100px;
    color: #180c0d;
}

.video-szoveg{
    text-align: center;
    padding: 0 15px;
}

.video{
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video-leiras{
    font-size: 0.65rem;
    color: #adadad;
    font-style: italic;
    padding: 4px 25px;
    text-align: center;
}

span.mindful-movement{
    font-weight: bold;
}

/* Üdvözlés */
.udvozles{
    text-align: justify;
    margin-top: 50px;
    padding: 0 15px;
}

.vastag{
    font-weight: bold;
}

.ugras{
    font-style: italic;
    color: aliceblue;
    font-size: 0.7rem;
}

ul.tipusok{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: #a58b78;
    width: 100%;
    padding: 10px 0;
}

.tipusok li a{
    text-decoration: none;
    color: #180c0d;
    position: relative;
}

.tipusok li a::before,
.tipusok li a::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #fffbf6;
    top: -10px;
    bottom: -10px;
}

.tipusok li a::before {
    left: -5px;
}

.tipusok li a::after {
    right: -5px;
}

/* Bemutatkozás */
.bemutatkozas{
    text-align: justify;
    margin-top: 50px;
    padding: 0 15px;
}

/* Réka */
.reka{
    text-align: justify;
    padding: 0 15px;
}

.reka-kep{
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    border: solid #a58b78 5px;
    padding: 0 !important;
}

/* Áron */
.aron{
    text-align: justify;
    padding: 0 15px;
}

.aron-kep{
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    border: solid #a58b78 5px;
    padding: 0 !important;
}

/* Botond */
.botond{
    text-align: justify;
    padding: 0 15px;
}

.botond-kep{
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    border: solid #a58b78 5px;
    padding: 0 !important;
}


/* Árak */
.arak{
    text-align: justify;
    margin-top: 50px;
    padding: 0 15px;
}

.arazas{
    background-color: #180c0d;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-top: 100px;
}

p.fizetes{
    font-size: 0.75rem;
    color: #8a8a8a;
    font-style: italic;
    padding: 0 20px;
}

/* Személyes árazás*/
table#szemelyes{
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    box-shadow: 0 1px 5px black;
    border-radius: 5px;
}

.ar-cim{
    text-align: center;
    background-color: #6F4E37;
    color: white;
    padding: 2px 0;
    border-radius: 5px 5px 0 0;
}

#szemelyes th{
    background-color: #180c0d;
    color: white;
}

#szemelyes td{
    border-bottom: #a58b78 1px solid;
}

td.ar{
    background-color: #ddc6b5;
    padding: 8px 10px;
}
td.ido{
    background-color: #ddc6b5;
    padding: 8px 10px;
}

th.ido{
    padding: 5.5px 10px;
}

th.ar{
    text-align: right;
    padding: 5.5px 10px;
}

td.ar{
    text-align: right;
}

td.perc60{
    border-radius: 0 0 0 5px;
}

.ft9000{
    border-radius: 0 0 5px 0;
}

table#szemelyes tr.utolso td{
    border-bottom: none;
}

/* Csoportos árazás */

#csoportos{
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0 1px 5px black;
}

#csoportos th{
    background-color: #180c0d;
    color: white;
    text-align: center;
}

#csoportos td{
    border-bottom: #a58b78 1px solid;
}

#csoportos td{
    background-color: #ddc6b5;
    text-align: center;
    height: 35px;
}

#csoportos td.ar-cim{
    background-color: #6F4E37;
    height: 0;
}

table#csoportos tr.utolso td{
    border-bottom: none;
}

.csop-bal-ker{
    border-radius: 0 0 0 5px;
}

.csop-jobb-ker{
    border-radius: 0 0 5px 0;
}

table#csoportos th.percek{
    background-color: #ddc6b5;
    color: black
}

/* Jelentkezés */
.jelentkezes{
    margin-top: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

table.table-jelentkezes{
    width: 320px;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 0px 10px black;
    background-color: #ffffff;
}

table.table-jelentkezes td{
    padding-left: 15px;
    padding-right: 10px;
}

.jel-ker{
    border-radius: 8px 8px 0 0;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 1.3rem;
    color: #180c0d;
}

span.teloszam{
    font-size: 0.82rem;
    color: #8a8a8a;
}

.jelentkezes-kozepre{
    text-align: center;
}

table.table-jelentkezes tr td.jel-szem{
    vertical-align: top;
}

table.table-jelentkezes tr td.jel-csop{
    vertical-align: top;
}

/*custom radio button */
.kontener {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kontener input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ddc6b5;
    border-radius: 50%;
    border: 1px solid #b3937d;
}
  
.kontener:hover input ~ .checkmark {
    background-color: #a58b78;
}
  
.kontener input:checked ~ .checkmark {
    background-color: #6F4E37;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.kontener input:checked ~ .checkmark:after {
    display: block;
}
  
.kontener .checkmark:after {
    top: 6px;
    left: 6px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

/* a nem kipipált oldal eltüntetése */
#szemelyes-oszlop, #csoportos-oszlop{
    display: none;
}


hr.vonal{
    border-top: 1px solid #6F4E37;
}

td.gombok{
    text-align: center;
    padding-bottom: 15px;
}

.myButton {
	box-shadow:inset 0px 0px 15px 3px #6F4E37;
	background:linear-gradient(to bottom, #a58b78 5%, #ebc8af 100%);
	background-color:#a58b78;
	border-radius:17px;
	border:1px solid #ddc6b5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #180c0d;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ebc8af 5%, #a58b78 100%);
	background-color:#ebc8af;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Galéria */
.slider{
    width: 80%;
    min-width: 400px;
    margin: 100px auto;
}

.slick-slide{
    margin: 0px 5px;
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active{
    opacity: .5;
}

.slick-current{
    opacity: 1;
}

.slick-slide img{
    width: 100%;
}

.slick-prev:before, .slick-next:before{
    color: black !important;
}



/* WEBSHOP */
/* Bemutatás */
.bemutatas{
    margin-top: 100px;
    text-align: justify;
    padding: 0 15px;
}

/* Spoiler kép */
.spoilerContainer{
    margin-top: 100px;
    margin-bottom: 175px;
}

.spoiler{
    height: 200px;
    width: 290px;
    margin: auto;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("kepek/spoiler.png");
    background-position: center;
    background-size: cover;
}
.spoiler p{
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.spoiler:hover{
    box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.9) inset;
}

.spoiler:hover p{
    opacity: 1;
    transform: scale(1);
}

/* Webshop */
.webshop-kepek {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}





/* Rendelés űrlap */
.rendeles-container{
    display: flex;
    justify-content: center;
}

table.rendeles{
    margin-top: 50px;
    box-shadow: 0 0 10px #000000 ;
    background-color: #ffffff;
    border-radius: 8px;
    width: 320px;
}

.rendeles td{
    padding: 10px 0;
    text-align: center;
}

.rendeles td.rendeles-elso{
    border-radius: 8px 0;
    font-size: 1.9rem;
}

.rendeles td.rendeles-utolso-bal{
    border-radius: 0 0 0 8px;
}

.rendeles td.rendeles-utolso-jobb{
    border-radius: 0 0 8px 0;
}

.gombok-rendeles{
    padding: 10px 0 !important;
}

.rendeles-alcim{
    font-weight: bold;
    font-size: 1.2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Rendelés gombok */
.rendeles-gombok {
	
	background:linear-gradient(to bottom, #ffffff 5%, #c20e08 100%);
	background-color:#ffffff;
	border-radius:17px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #180c0d;
}
.rendeles-gombok:hover {
	background:linear-gradient(to bottom, #c20e08 5%, #ffffff 100%);
	background-color:#f4453f;
}
.rendeles-gombok:active {
	position:relative;
	top:1px;
}


/* Lábjegyzet */
footer{
    text-align: center;
    background-color: #d9b99b;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    font-style: italic;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 -5px 20px black;
}

.hirlevel{
    margin-bottom: 50px;
    font-weight: bold;
    font-style: normal;
    
}

/* Kezdőlap feliratkozó gomb */
.feliratkozas-kezdolap {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    margin-top: 10px;
}
.feliratkozas-kezdolap:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.feliratkozas-kezdolap:active {
	position:relative;
	top:1px;
}

/* Gyakorlatok feliratkozó gomb */
.feliratkozas-gyakorlatok {
	box-shadow:inset 0px -3px 7px 0px #21130a;
	background:linear-gradient(to bottom, #4d3f40 5%, #301f21 100%);
	background-color:#4d3f40;
	border-radius:3px;
	border:1px solid #151a0d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #61300d;
    margin-top: 10px;
}
.feliratkozas-gyakorlatok:hover {
	background:linear-gradient(to bottom, #301f21 5%, #4d3f40 100%);
	background-color:#301f21;
}
.feliratkozas-gyakorlatok:active {
	position:relative;
	top:1px;
}

/* Órák feliratkozó gomb */
.feliratkozas-orak {
	box-shadow:inset 0px -3px 7px 0px #21130a;
	background:linear-gradient(to bottom, #a58b78 5%, #3b312b 100%);
	background-color:#a58b78;
	border-radius:3px;
	border:1px solid #151a0d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #61300d;
    margin-top: 10px;
}
.feliratkozas-orak:hover {
	background:linear-gradient(to bottom, #3b312b 5%, #a58b78 100%);
	background-color:#3b312b;
}
.feliratkozas-orak:active {
	position:relative;
	top:1px;
}

/* Webshop feliratkozó gomb */
.feliratkozas-webshop {
	box-shadow:inset 0px -3px 7px 0px #1f0100;
	background:linear-gradient(to bottom, #960300 5%, #301f21 100%);
	background-color:#960300;
	border-radius:3px;
	border:1px solid #0a0d06;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a13230;
    margin-top: 10px;
}
.feliratkozas-webshop:hover {
	background:linear-gradient(to bottom, #301f21 5%, #960300 100%);
	background-color:#301f21;
}
.feliratkozas-webshop:active {
	position:relative;
	top:1px;
}

/* webshop */
.kosar {
    display: flex;
    flex-direction: row;
    gap: 8px;
    box-shadow: 0 0 10px #000000 ;
    padding: 10px 15px;
    background-color: #ffffff;
    border-radius: 8px;
    justify-content: center;
    margin: 50px auto 0 auto;
}

.containerLeft, .containerRight {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.kepek{
    padding: 0 16px;
}

.mennyisegAllito{
    display: flex;
    justify-content: center;
}

#mennyisegFeher, #mennyisegFekete{
    width: 30px;
}

.pulcsiArazas{
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

#kosarErtek{
    font-weight: bold;
}

.pulcsik{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.gombocska{
    cursor: pointer;
}

/* Tablet */
@media only screen and (min-width: 600px){
    .kepek {
        max-width: 350px;
        padding: 0;
    }

    .bemutatkozas{
        display: flex;
        flex-direction: column;
    }

    .article {
        max-width: 500px;
        width: 80%;
        margin: auto;
    }
}


/* Szgép */
@media only screen and (min-width: 768px){
    .containerRight, .containerRight {
        flex-direction: row;
        align-items: center;
    }

    .containerLeft, .containerLeft {
        flex-direction: row-reverse;
        align-items: center;
    }

    .article {
        max-width: 1000px;
        width: 80%;
        margin: auto;
    }

    .kepek {
        max-width: 350px;
        padding: 0;
    }

    .containerLeft > div, .containerRight > div {
        display: flex;
        flex-direction: column;
    }

    .bemutatkozas{
        display: flex;
        flex-direction: column;
    }
    
    .pulcsik{
        flex-direction: row;
        margin: auto;
        gap: 150px;
        flex-wrap: wrap;
        justify-content: center;
    }
}




